<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../templates/header.ejs %>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <!--Insert custom head content below-->
</head>

<body>
    <%- include ../templates/nav.ejs %>

        <br>
        <div class="row">
            <form id="signinForm" method="POST" action="/user/edit" class="col s12 m6 offset-m3">
                <blockquote>
                    <h3>Edit User</h3>
                </blockquote>
                <blockquote>
                    <p>Avatars can be changed at <a href="https://gravatar.com">Gravatar</a></p>
                </blockquote>
                <div class="row">
                    <div class="input-field col s12">
                        <input required name="username" type="text" value="<%=user.username%>" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input required name="email" type="email" value="<%=user.email%>" class="validate">
                        <label for="username">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea name="bio" type="text" class="validate materialize-textarea" rows="1" cols="4"><%=user.bio%></textarea>
                        <label for="bio">Bio</label>
                    </div>
                </div>
                <input type="hidden" name="_csrf" value="<%=csrf%>">
                <div class="row">
                    <div class="input-field col s12">
                        <button class="g-recaptcha btn waves-effect waves-light" data-sitekey="6LeaGxkUAAAAAHvFZALsEfZaN7xo39N03Kqs9FEu" data-callback="onSubmit">
Submit
                    <i class="material-icons right">send</i>
</button> </div>
                </div>
            </form>
        </div>
        </div>
        </div>
        <%- include ../templates/footer.ejs %>
            <script>
                function onSubmit(token) {
                    document.getElementById("signinForm").submit();
                }
            </script>
</body>

</html>